body {
    background-color: #2d3f57;
}

.oddcell {
    background-color: #4a6991;
    border-radius: 50px;
}

.evencell {
    background-color: #384f6d;
    border-radius: 50px;
}

.game-nav {
    margin-bottom: 50px;
}

.game-cell, .inventory-cell {
    height: 125px;
    width: 100px;
}

.active-plant {
    height: 125px;
    width: 100px;
}

.inventory {
    padding-top: 20px;
}

.enemy{
    height: 125px;
    width: 100px;
    /*border: 1px solid black;
    position: absolute;
    background-color: aqua;*/
    position: absolute;
    right: 0;
}

.game-row{
    position: relative;
    width: auto;
}

.projectile {
    height: 10px;
    width: 10px;
    border: 1px solid black;
    border-radius: 10px;
    position: absolute;
    background-color: black;

}

.plantimage {
    content:url(https://media2.giphy.com/media/l0Iycn4fTzpH2C0I8/giphy.gif?cid=790b76115d0a473936394f726352569d&rid=giphy.gif);
}