
.game-nav {
    margin-bottom: 50px;
}

.game-cell, .inventory-cell {
    height: 125px;
    width: 100px;
    border: 1px solid black;
}

.active-plant {
    height: 125px;
    width: 100px;
    border: 1px solid black;
}

.inventory {
    padding-top: 20px;
}

.enemy{
    height: 125px;
    width: 100px;
    border: 1px solid black;
    position: absolute;
    background-color: aqua;
    right: 0;
}

.game-row{
    position: relative;
    width: auto;
}

.projectile {
    height: 125px;
    width: 100px;
    border: 1px solid black;
    position: absolute;
    background-color: red;

}